<header>
  <div class="header">
    <div class="left-header flex">
     
    </div>
    <div class="middle-header flex">
      <a href="/">
        <h1 style="color: #fff;" >MY CLINIC</h1>
      </a>
    </div>
    <div class="right-header flex">
      <img src="/img/profile.svg" alt="" srcset="" />
    </div>
  </div>
</header>
