<header>
  <div class="header">
    <div class="left-header flex">
      <h1><%= urlMetaData.name %></h1>
      <img src="<%= urlMetaData.icon %>" alt="" />
    </div>
    <div class="middle-header flex">
      <a href="/">
        <img src="/img/logo.svg" alt="" srcset="" />
      </a>
    </div>
    <div class="right-header flex">
      <h1><%= username %></h1>
      <img src="/img/profile.svg" alt="" srcset="" />
    </div>
  </div>
</header>
