<div class="logout-btn">
  <button type="button" id="logout-btn">Logout</button>
</div>

<style>
  .logout-btn {
    margin-top: 0.5em;
    width: 100px;
    z-index: 100;
    position: fixed;
    bottom: 0;
  }
</style>

<script>
  const logout = () => {
    fetch("http://localhost:5002/logout")
      .then((response) => {
        console.log(response);
        response.json();
      })
      .then((data) => {
        window.location.replace("/");
      })
      .catch((error) => {
        console.error("Error:", error);
      });
  };
  document.getElementById("logout-btn").addEventListener(
    "click",
    (e) => {
      e.preventDefault();
      logout();
    },
    { once: true }
  );
</script>
