<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>MY CLINIC</title>
  <link rel="stylesheet" href="/404.css" />

</head>
<body>
  <main>
    <div class="container">
        <img src="/img/404.svg" alt="404 page not found" srcset="">
        <h2>Uh-oh, something went wrong here</h2>
        <button><a href="/login">Back to login page!</a></button>
    </div>
  </main>  
</body>
</html>