<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="/signup/style.css" />
		<title>MY CLINIC</title>
	</head>
	<body>
		<div class="main-container">
			<div class="form">
				<h1>MY CLINIC</h1>
				<form>
					<div class="segment">
						<input
							type="email"
							name="email"
							id="email"
							placeholder="email"
						/>
					</div>
					<div class="segment">
						<input
							type="password"
							name="password"
							id="password"
							placeholder="password"
						/>
					</div>
					<div class="segment">
						<input
							type="text"
							name="first name"
							id="fname"
							placeholder="first name"
						/>
					</div>
					<div class="segment">
						<input
							type="text"
							name="last name"
							id="lname"
							placeholder="last name"
						/>
					</div>
					<div class="radio">
						<p>gender:</p>
						<input
							type="radio"
							id="male"
							name="gender"
							value="1"
							checked
						/>
						<label for="male">male</label>
						<input
							type="radio"
							id="female"
							name="gender"
							value="0"
						/>
						<label for="female">female</label>
					</div>
					<div class="buttons">
						<button type="button" id="submit">sign-up</button>
						<a href="/login"
							><button type="button" id="login">login</button></a
						>
					</div>
				</form>
			</div>
		</div>
		<%- include('partials/footer') %>
	</body>

	<script>
		document.getElementById("submit").addEventListener("click", () => {
			let data = {
				email: document.getElementById("email").value,
				password: document.getElementById("password").value,
				fname: document.getElementById("fname").value,
				lname: document.getElementById("lname").value,
				gender: document.getElementById("male").checked
					? document.getElementById("male").value
					: document.getElementById("female").value,
			};

			console.log(data);

			if (
				data.email != "" &&
				data.password != "" &&
				data.fname != "" &&
				data.lname != "" &&
				data.gender != ""
			) {
				fetch("http://localhost:8080/api/signup", {
					method: "POST",
					redirect: "follow",
					headers: {
						"Content-Type": "application/json",
					},
					body: JSON.stringify(data),
				})
					.then((response) => {
						if (response.redirected) {
							window.location.href = response.url;
						}
					})
					.then((data) => {
						console.log(data);
					})
					.catch((error) => {
						console.error("Error:", error);
					});
			} else {
				window.alert("please fill the whole form before submitting");
			}
		});
	</script>
</html>
